:root {
  --border-radius: 4px;
  --color-text: white;
  --color-primary: #7026b9;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --background-clr: #290133;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-major-mono: 'Major Mono Display', monospace;
  --font-varela: 'Varela Round', sans-serif;
  --font-lexend: 'Lexend', sans-serif;
  --font-lg: 5px;
  --font-md: 700px;
  --font-sm: 1.5vh;
  --font-sx: 1vh;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  /* min-height: 100vh; */
  background: url("../images/parannoul.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; 
}

h1, h3 {
  font-family: var(--font-major-mono)
}

.insides {
  font-family: var(--font-lexend);
  color: var(--color-text); 
  background-color: rgba(0, 0, 0, 75%);
  border-radius: 50px; 
  flex: 1;
  gap: 3px;
  margin: 20px auto;
  min-width: 50vw;
  max-width: var(--size-content);
  padding: var(--size-gutter);
  animation: fadeIn 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

Header {
  background-color:rgba(0, 0, 0, 75%);
  margin: 0px;
  padding: 0px;
  font-family: var(--font-major-mono);
}

.footer {
  font-family: var(--font-major-mono);
}

@keyframes fadeIn {
  0% {opacity: 0; }
  100% {opacity: 1; }
}

